@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__day-name {
  display: none;
}

.react-datepicker__header {
  border: solid 1px #983ce4;
  padding-top: 0;
}
